Repository VizonaVerse/schemalab-no-code-db: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_schemalab-ui, trigger_schema, trigger_auth, trigger_management

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    
    - when: always

stages:
  - trigger
  - deploy
  
trigger_schemalab-ui:
  stage: trigger
  rules:
    - changes:
      - schemalab-ui/**
  trigger:
    include: schemalab-ui/.gitlab-ci.yml
    strategy: depend

trigger_schema:
  stage: trigger
  rules:
    - changes:
      - schema/**
  trigger:
    include: schema/.gitlab-ci.yml
    strategy: depend

trigger_auth:
  stage: trigger
  rules:
    - changes:
      - auth/**
  trigger:
    include: auth/.gitlab-ci.yml
    strategy: depend

trigger_management:
  stage: trigger
  rules:
    - changes:
      - management/**
  trigger:
    include: management/.gitlab-ci.yml
    strategy: depend

deploy_full_app:
  stage: deploy
  script:
    - echo "Deploying schemalab..."
    - docker compose up --build

Testing different push method
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Switched kaniko image
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Changed paths for registry pushes
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Changed from docker hub to gitlab login details
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Changed some stuff, this is horrible
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

trying with deployment tokens
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

trying with actual credentials
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Reverted
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Finally fixed the push stages, do ammended all downstream pipelines with the correct stage
  auth/.gitlab-ci.yml
  docker-stack.yml
  management/.gitlab-ci.yml
  schema/.gitlab-ci.yml
Due: trigger_schema, trigger_auth, trigger_management

Fixed missing stages
  docker-stack.yml
  management/.gitlab-ci.yml
  schema/.gitlab-ci.yml
Due: trigger_schema, trigger_management

Added stages to the management pipeline
  management/.gitlab-ci.yml
Due: trigger_management

Fixed Schema environment variables not being found
  docker-stack.yml
Due: none

Initialized volumes
  docker-stack.yml
Due: none

Added log to the frontend for debugging
  schemalab-ui/src/pages/authentication/login.tsx
Due: none

Fixed invalid loading button not returning to normal state
  schemalab-ui/src/pages/authentication/login.tsx
Due: none

fixed management_db (hopefully)
  docker-stack.yml
  management/.env.production
Due: trigger_management

fix auth db
  docker-stack.yml
Due: none

Uncommented missing auth and management paths in nginx conf
  nginx.conf
Due: none

Update the nginx config
  nginx.conf
Due: none

Updated the environment variables to auth
  schemalab-ui/.env.production
Due: trigger_schemalab-ui
