Repository VizonaVerse/schemalab-no-code-db: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_schemalab-ui, trigger_schema, trigger_management

trigger_schemalab-ui:
  stage: trigger
  trigger:
    include: schemalab-ui/.gitlab-ci.yml
    strategy: depend

trigger_schema:
  stage: trigger
  trigger:
    include: schema/.gitlab-ci.yml
    strategy: depend

trigger_management:
  stage: trigger
  trigger:
    include: management/.gitlab-ci.yml
    strategy: depend

Upgrade traefik version
  docker-compose.yml
Due: none

Fixed Version mistake
  docker-compose.yml
Due: none

Changed some traefik label thing idk
  docker-compose.yml
Due: none

Again no idea
  docker-compose.yml
Due: none

Changed frontend to port 80 because that might an issue
  docker-compose.yml
  schemalab-ui/Dockerfile
  schemalab-ui/nginx.conf
Due: trigger_schemalab-ui

Changed traefik to nginx because it just wasn't going to work
  docker-compose.yml
  nginx.conf
Due: none

Fixed schemalabui not communicating on correct port using nginx config
  docker-compose.yml
  nginx.conf
  schemalab-ui/Dockerfile
  schemalab-ui/nginx.conf
Due: trigger_schemalab-ui

validation for initial data
  schema/functions/sql.js
  schema/functions/validation.js
  schema/tests/sqlGen.test.js
  schema/tests/validation.test.js
Due: none

Added the settings modal, added all the setting functions in auth-context. Added jest config for ui tests
  schemalab-ui/jest.config.js
  schemalab-ui/jest.setup.ts
  schemalab-ui/package-lock.json
  schemalab-ui/package.json
  schemalab-ui/public/index.html
  schemalab-ui/src/assets/landing-page-cards/nginx.svg
  schemalab-ui/src/assets/landing-page-cards/traefik.svg
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/pages/authentication/__tests__/authentication.test.tsx
  schemalab-ui/src/pages/landing-page/landing-page.scss
  schemalab-ui/src/pages/landing-page/landing-page.tsx
  schemalab-ui/src/pages/settingsModal.tsx
  schemalab-ui/src/router.tsx
Due: trigger_schemalab-ui

swapped over to playwright
  schemalab-ui/.github/workflows/playwright.yml
  schemalab-ui/.gitignore
  schemalab-ui/jest.config.js
  schemalab-ui/jest.setup.ts
  schemalab-ui/package-lock.json
  schemalab-ui/package.json
  schemalab-ui/playwright.config.ts
  schemalab-ui/src/pages/authentication/__tests__/authentication.test.tsx
  schemalab-ui/tests/example.spec.ts
Due: trigger_schemalab-ui

add fixes
  auth/accounts/views.py
Due: none

removed "username"
  auth/accounts/serializers.py
  auth/accounts/views.py
Due: none

initial data finished + tested
  schema/functions/sql.js
  schema/tests/route.test.js
  schema/tests/sqlGen.test.js
Due: none

Initial nginx config for schema build service
  docker-compose.yml
  nginx.conf
  schema/.env
  schema/.env.production
  schema/Dockerfile
  schema/nginx.conf
Due: trigger_schema

Revert "add fixes" due to errors
  auth/accounts/views.py
Due: none

fix checkpoint
  .DS_Store
  auth/accounts/serializers.py
  auth/accounts/views.py
Due: none

fixed data wrapping + added patch to change first and last name
  auth/accounts/backends.py
  auth/accounts/migrations/0001_initial.py
  auth/accounts/migrations/0002_remove_customuser_username.py
  auth/accounts/models.py
  auth/accounts/serializers.py
  auth/accounts/views.py
  auth/auth_project/settings.py
  auth/docker-compose.yml
Due: none

wrapped data for login
  auth/accounts/views.py
Due: none

Adjusting auth stuff
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/contexts/route-protector.tsx
Due: none

Login working, use postman for register temporarily
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/contexts/route-protector.tsx
  schemalab-ui/src/utils/communication.ts
Due: none

Removed unused packages, added profile dropdown and register is now working
  schemalab-ui/package-lock.json
  schemalab-ui/package.json
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/contexts/guest-router.tsx
  schemalab-ui/src/pages/authentication/authentication.tsx
  schemalab-ui/src/pages/profileDropDown.tsx
  schemalab-ui/src/utils/communication.ts
Due: trigger_schemalab-ui

Fixing infinite loop
  schemalab-ui/src/contexts/auth-context.tsx
Due: none

Added format enforcement for certain datatypes.
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

Fixed relationship misalignment. Implementing proper many-to-many functionality via join table; current issue is relationship misalignment exclusive to this scenario. To be continued.
  .env.local
  schemalab-ui/src/pages/db-designer/canvas/canvas.tsx
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

Path conditions:
  trigger_schemalab-ui: any of: schemalab-ui/**
  trigger_schema: any of: schema/**
  trigger_management: any of: management/**
