Repository VizonaVerse/schemalab-no-code-db: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_schemalab-ui, trigger_schema, trigger_management

.gitlab-ci.yml:

stages:
  - trigger
  
trigger_schemalab-ui:
  stage: trigger
  rules:
    - changes:
      - schemalab-ui/**
  trigger:
    include: schemalab-ui/.gitlab-ci.yml
    strategy: depend

trigger_schema:
  stage: trigger
  rules:
    - changes:
      - schema/**
  trigger:
    include: schema/.gitlab-ci.yml
    strategy: depend

#trigger_auth:
#  stage: trigger
#  rules:
#    - changes:
#      - auth/**
#  trigger:
#    include: schemalab-ui/.gitlab-ci.yml
#    strategy: depend

trigger_management:
  stage: trigger
  rules:
    - changes:
      - management/**
  trigger:
    include: management/.gitlab-ci.yml
    strategy: depend

Implemented auto-save (at an interval of every 2 minutes).
  schemalab-ui/src/pages/db-designer/topbar/topbar.tsx
Due: none

Fixed MacOS infinite drag bug, re-designed type drop-down window, and corrected vertical positioning of attribute drop-down window.
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.scss
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

Aligned relationship connection nodes to each row.
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

Fixed type drop-down zoom and pan, and adjusted font size.
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.scss
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

Fixed type drop-down blurriness caused by scaling and rasterization.
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

Added docker files to schema building service
  schema/.dockerignore
  schema/Dockerfile
Due: trigger_schema

apply migration in auth docker-compose
  auth/docker-compose.yml
Due: none

Adjust views to handle nested 'data' payload for authentication
  auth/accounts/views.py
Due: none

fixes to views
  auth/accounts/views.py
Due: none

Add auth pages, auth-context, landing page, dockerfile and docker compose to project.
  .gitlab-ci.yml
  auth/accounts/views.py
  docker-compose.yml
  schemalab-ui/.env
  schemalab-ui/.env.production
  schemalab-ui/Dockerfile
  schemalab-ui/nginx.conf
  schemalab-ui/package-lock.json
  schemalab-ui/package.json
  schemalab-ui/src/assets/landing-page-background.png
  schemalab-ui/src/assets/landing-page-cards/django.svg
  schemalab-ui/src/assets/landing-page-cards/docker.svg
  schemalab-ui/src/assets/landing-page-cards/express.svg
  schemalab-ui/src/assets/landing-page-cards/javascript.svg
  schemalab-ui/src/assets/landing-page-cards/postgresql.svg
  schemalab-ui/src/assets/landing-page-cards/react.svg
  schemalab-ui/src/assets/landing-page-cards/traefik.svg
  schemalab-ui/src/assets/landing-page-cards/typescript.svg
  schemalab-ui/src/assets/schemalab-logo-background.svg
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/contexts/route-protector.tsx
  schemalab-ui/src/pages/authentication/authentication.scss
  schemalab-ui/src/pages/authentication/authentication.tsx
  schemalab-ui/src/pages/authentication/login.tsx
  schemalab-ui/src/pages/authentication/login/login.scss
  schemalab-ui/src/pages/authentication/login/login.tsx
  schemalab-ui/src/pages/authentication/nav-bar.tsx
  schemalab-ui/src/pages/authentication/passwordRegex/passwordConstraints.tsx
  schemalab-ui/src/pages/authentication/passwordRegex/passwordValidation.tsx
  schemalab-ui/src/pages/authentication/resetConfirm.tsx
  schemalab-ui/src/pages/authentication/resetTrigger.tsx
  schemalab-ui/src/pages/authentication/sign-up.tsx
  schemalab-ui/src/pages/authentication/sign-up/sign-up.scss
  schemalab-ui/src/pages/authentication/sign-up/sign-up.tsx
  schemalab-ui/src/pages/landing-page/landing-page.scss
  schemalab-ui/src/pages/landing-page/landing-page.tsx
  schemalab-ui/src/router.tsx
  schemalab-ui/src/utils/communication.ts
  schemalab-ui/src/utils/full-error.tsx
  schemalab-ui/src/utils/full-success.tsx
Due: trigger_schemalab-ui

Removed obsolete code and log statements. Implemented an unfinished...
  management/Dockerfile
  management/docker-compose.yml
  management/mService/__pycache__/models.cpython-313.pyc
  management/mService/__pycache__/remote_auth.cpython-313.pyc
  management/mService/migrations/0008_alter_project_description_alter_project_name_and_more.py
  management/mService/migrations/__pycache__/0008_alter_project_description_alter_project_name_and_more.cpython-313.pyc
  management/management/__pycache__/settings.cpython-313.pyc
  schema/.env
  schema/app.js
  schema/functions/sql.js
  schema/functions/validation.js
  schema/routes/build.js
  schema/tests/route.test.js
  schema/tests/sqlGen.test.js
  schemalab-ui/.dockerignore
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/contexts/canvas-context.tsx
  schemalab-ui/src/pages/db-designer/db-designer.tsx
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
  schemalab-ui/src/pages/db-designer/topbar/topbar.tsx
  schemalab-ui/src/utils/canvas-utils.ts
Due: trigger_schemalab-ui, trigger_schema, trigger_management

Fix for schemalabUI dockerfile
  schemalab-ui/Dockerfile
Due: trigger_schemalab-ui

Fix port for schemalabUI
  docker-compose.yml
Due: none

Adjusted Docker compose to try and get frontend working
  docker-compose.yml
Due: none

Adjusted path prefix
  docker-compose.yml
Due: none

Adjusted error in nginx config
  schemalab-ui/nginx.conf
Due: trigger_schemalab-ui

Added ports to reverse-proxy
  docker-compose.yml
Due: none

Changed docker-compose for debugging
  docker-compose.yml
Due: none

Downgraded traefik to work with server docker version
  docker-compose.yml
Due: none
