Repository VizonaVerse/schemalab-no-code-db: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_schemalab-ui, trigger_schema, trigger_management

.gitlab-ci.yml:

stages:
  - trigger
  
trigger_schemalab-ui:
  stage: trigger
  rules:
    - changes:
      - schemalab-ui/**
  trigger:
    include: schemalab-ui/.gitlab-ci.yml
    strategy: depend

trigger_schema:
  stage: trigger
  rules:
    - changes:
      - schema/**
  trigger:
    include: schema/.gitlab-ci.yml
    strategy: depend

#trigger_auth:
#  stage: trigger
#  rules:
#    - changes:
#      - auth/**
#  trigger:
#    include: schemalab-ui/.gitlab-ci.yml
#    strategy: depend

trigger_management:
  stage: trigger
  rules:
    - changes:
      - management/**
  trigger:
    include: management/.gitlab-ci.yml
    strategy: depend

Fixed positioning of join table. Investigating potential fixes for join table relationship misalignment.
  .env.local
  schemalab-ui/src/pages/db-designer/canvas/canvas.tsx
Due: none

Removed and edited comments; corrected indentation and removed whitespaces.
  schemalab-ui/src/pages/db-designer/canvas/canvas.tsx
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
  schemalab-ui/src/utils/canvas-utils.ts
Due: none

Fixed join table relationship misalignment.
  schemalab-ui/src/pages/db-designer/elements/tableNode/table-node.tsx
Due: none

env local file created for schema build
  schema/.env.local
Due: trigger_schema

man this sucks
  auth/auth_project/settings.py
  management/.env
  management/mService/remote_auth.py
  management/management/settings.py
Due: trigger_management

Fixed Data Mode export error.
  schemalab-ui/src/contexts/canvas-context.tsx
  schemalab-ui/src/utils/canvas-utils.ts
Due: none

Edit docker-compose.yml
  docker-compose.yml
Due: none

Removed Console Log
  schemalab-ui/src/utils/communication.ts
Due: none

what the hell is nginx
  auth/auth_project/settings.py
  docker-compose.yml
  schema/.env.production.local
  schema/Dockerfile
  schema/app.js
  schema/nginx.conf
  schema/package-lock.json
  schemalab-ui/.env.production
  schemalab-ui/.gitignore
  schemalab-ui/src/index.tsx
Due: trigger_schemalab-ui, trigger_schema

Fixed communication with schema service.
  docker-compose.yml
  nginx.conf
  schema/.env.local
Due: trigger_schema

schema build .env fixed
  schema/.env
  schema/.env.production
  schema/.env.production.local
  schema/.gitignore
  schema/app.js
  schema/package-lock.json
  schema/package.json
Due: trigger_schema

Added the profile drop down to the projects header. Fixed auth bug and added styles to password reset
  schemalab-ui/src/contexts/auth-context.tsx
  schemalab-ui/src/contexts/route-protector.tsx
  schemalab-ui/src/pages/authentication/authentication.scss
  schemalab-ui/src/pages/authentication/authentication.tsx
  schemalab-ui/src/pages/authentication/login.tsx
  schemalab-ui/src/pages/authentication/resetTrigger.tsx
  schemalab-ui/src/pages/project-management/project-management.scss
  schemalab-ui/src/pages/project-management/project-management.tsx
  schemalab-ui/src/pages/settingsModal.tsx
Due: none

Updated packages and removed the old ones not needed
  schemalab-ui/package-lock.json
  schemalab-ui/package.json
  schemalab-ui/tests/helpers/login.ts
Due: trigger_schemalab-ui

Removed obsolete initial tables and relationships (which were previously commented out).
  schemalab-ui/src/contexts/canvas-context.tsx
Due: none

Added register and login UI tests
  schemalab-ui/tests/helpers/auth.helper.ts
  schemalab-ui/tests/helpers/login.ts
  schemalab-ui/tests/helpers/user.factory.ts
  schemalab-ui/tests/pages/LoginPage.ts
  schemalab-ui/tests/pages/RegisterPage.ts
  schemalab-ui/tests/specs/auth.spec.ts
Due: none

Fixed empty array prohibiting loading of projects page.
  schemalab-ui/src/pages/project-management/project-management.tsx
Due: none

tests fixed
  management/mService/tests.py
Due: none

Finished Auth playwright tests
  schemalab-ui/package-lock.json
  schemalab-ui/package.json
  schemalab-ui/playwright.config.ts
  schemalab-ui/src/pages/authentication/login.tsx
  schemalab-ui/src/pages/authentication/sign-up.tsx
  schemalab-ui/src/pages/profileDropDown.tsx
  schemalab-ui/src/pages/project-management/project-management.tsx
  schemalab-ui/src/pages/settingsModal.tsx
  schemalab-ui/tests/helpers/auth.helper.ts
  schemalab-ui/tests/helpers/general.helper.ts
  schemalab-ui/tests/helpers/user.factory.ts
  schemalab-ui/tests/pages/LoginPage.ts
  schemalab-ui/tests/pages/ProjectManagement.ts
  schemalab-ui/tests/specs/auth.spec.ts
  schemalab-ui/tsconfig.json
Due: trigger_schemalab-ui

Updated the pipelines. Schemalab-ui pipeline now deploys just schemalab-ui and runs the correct tests. Root pipeline should now deploy the whole project
  .gitlab-ci.yml
  auth/.gitlab-ci.yml
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Added missing stage
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Added artifacts in testing stage
  docker-compose.yml
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Trying to fix schemalabui pipeline
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Implemented tests for listing of, creation, editing, and deletion of projects (and yes - they all pass).
  schemalab-ui/tests/helpers/project.helper.ts
  schemalab-ui/tests/pages/DesignerTopbar.ts
  schemalab-ui/tests/pages/ProjectManagement.ts
  schemalab-ui/tests/specs/project-management.spec.ts
Due: none

Added docker swarm, change schemalab-ui deployment stage to push and added the docker-stack.yml
  .gitlab-ci.yml
  docker-compose.yml
  docker-stack.yml
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Change schemalab-ui test stage to use image instead of downloading the whole of the internet
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

added configurations (they probably wont work :'D)
  docker-stack.yml
  management/.env.production
  management/nginx.conf
Due: trigger_management

Added building auth for tests
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Add docker installation into test step
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Add extra docker config for test stage
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

commented out the test portion as we need other services to be running. Just run tests locally
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui

Fix auth local docker-compose and add swarm stack + registry pipeline
  auth/.gitlab-ci.yml
  docker-compose.yml
  docker-stack.yml
Due: none

debugging
  auth/.gitlab-ci.yml
Due: none

Testing different push method
  schemalab-ui/.gitlab-ci.yml
Due: trigger_schemalab-ui
